*.swp
.bundle
.rake_tasks~
.sass-cache
.~lock.*.ods#
ERD.pdf
attachments/
bin/
config/config.yml
config/database.yml
config/deploy.yml
config/initializers/setup_mail.rb
config/sunspot.yml
db/*.sqlite3
log/*
photos/
public/stylesheets/*.css
solr/data/
solr/pids/
tmp/
config/settings.yml
