.bundle
db/*.sqlite3
log/*
tmp/
solr/data/
bin/
photos/
config/database.yml
config/deploy.yml
config/sunspot.yml
config/initializers/setup_mail.rb
public/stylesheets/*.css
attachments/
.rake_tasks~
.~lock.*.ods#
*.swp
ERD.pdf
.sass-cache
config/config.yml
