<% title @person.name %>
<div class="formtastic">
  <fieldset>
    <%= render :partial => "view" %>
  </fieldset>
  <fieldset class="buttons">
    <ol>
      <li><%= link_to t(:edit), edit_resource_url, :class => "button" %></li>
    </ol>
    <ol>
      <li><%= link_to "Декан", new_person_role_path(@person, :type => :dean), :class => "button" %></li>
    </ol>
  </fieldset>
</div>
