#content
  border-bottom: 1px solid #ccc
  margin-bottom: 20px
  padding-bottom: 10px

  @for $i from 1 through 5
    h#{$i}
      margin-bottom: 15px

  p,
  .actions
    margin-bottom: 15px

=error_style($image)
  background: transparent url($image) no-repeat left top
  padding-left: 75px
  margin: 100px 0
  p
    margin-bottom: 15px

#content
  +clearfix
  .error_404
    +error_style("../images/error_404.png")
  .error_500
    +error_style("../images/error_500.png")
  .left_side
    float: left
    width: 239px
    border-right: 1px solid #ccc
    padding-right: 20px
    margin-right: 20px
  .right_side
    float: left
    width: 680px

    .documents
      p
        margin-bottom: 15px
      ol
        margin-bottom: 15px
        li
          list-style: decimal
          margin-left: 20px
          margin-bottom: 5px
          .edit
            +iconize_link("../images/icon_edit.png")
            +inline-block
            margin-left: 10px
          .delete
            +iconize_link("../images/icon_delete.png")
            +inline-block
            margin-left: 10px

    .scientific_advisers,
    .parents
      margin-bottom: 15px
      li
        border: 1px solid #ccc
        padding: 20px 20px 15px 20px
        margin-bottom: 15px
        p
          margin-bottom: 5px
        .edit
          +iconize_link("../images/icon_edit.png")
          +inline-block
          margin-left: 10px
        .delete
          +iconize_link("../images/icon_delete.png")
          +inline-block
          margin-left: 10px

    .complete
      p,
      .button_to
        margin-bottom: 15px

#accept_terms_text
  font-size: 12px
  +verdana_font_stack
  p
    margin: 10px 0


.tabs_menu
  +border-top-left-radius
  +border-top-right-radius
  +clearfix
  background: #A1BECD
  padding: 0 0 15px 0
  width: 100%

  li
    +border-radius
    +box-shadow(#888 2px 2px 6px)
    background: #416E86 url('/images/circle_grey.png') no-repeat center 22px
    border: 1px solid #777
    float: left
    margin: 12px 5px
    padding: 3px 0 15px
    text-align: center
    width: 110px

    &:hover
      background: #5d8295 url('/images/circle_yellow.png') no-repeat center 23px
      cursor: pointer

    a
      color: #D3E1E9
      text-decoration: none

  .current
    +box-shadow(#aaa, 1px 1px 1px)
    background: #5d8295 url('/images/circle_yellow.png') no-repeat center 23px

  .last
  .first
    margin-left: 170px

.details_wrapper
  .details
    +border-bottom-left-radius
    +border-bottom-right-radius
    background: #A1BECD

    .handle
      height: 0
      left: -27px
      position: relative
      top: 18px

      span
        background: url('/images/sort.png') no-repeat
        display: block
        height: 16px
        margin:  5px 5px 0 0
        text-indent: -99999px
        width: 16px

        &:hover
          cursor: move

    .headline
      +clearfix
      width: 100%

      span
        color: #555
        font-size: 10px
        font-weight: bold
        float: left
        padding: 5px 0
        text-transform: uppercase

      .title
        padding: 0 0 0 30px
        width: 315px

      .eng_title
        width: 315px

      .credits
        text-align: center
        width: 52px

      .hours
        text-align: center
        width: 51px

      .human_grade
        text-align: center
        width: 150px

    .list
      counter-reset: li
      font-size: 11px
      list-style: none
      padding: 0

      &.state_examination_list, &.qualification_project_list
        .item
          margin-left: 0
          padding-left: 2em

          &:before
            content: none
            padding: 0
            width: 0

      .item
        +min-height(30px)
        background: rgba(245, 245, 245, 0.2)
        border-top: 2px solid #666
        margin: 0 0 6px 2em
        padding: 4px 8px
        position: relative

        &:before
          background: #84A2B2
          border-top: 2px solid #666
          color: #fff
          content: counter(li)
          counter-increment: li
          font-family: "Helvetica Neue", Arial, sans-serif
          font-weight: bold
          left: -2em
          padding: 4px 0
          position: absolute
          text-align: center
          top: -2px
          width: 2em

        div
          +clearfix
          +inline-block

        a
          +inline-block
          height: 16px
          text-indent: -9999px
          width: 16px

        .delete_link
          background: url('/images/icon_delete.png') no-repeat

        .edit_link
          background: url('/images/icon_edit.png') no-repeat

        span
          float: left
          vertical-align: middle

        .title
          width: 315px

        .eng_title
          width: 315px

        .credits
          text-align: center
          width: 52px

        .hours
          text-align: center
          width: 51px

        .human_grade
          text-align: center
          width: 150px

        .actions
          margin: 0 0 0 0 !important
          width: 37px

      .empty
        list-style: none
        text-align: center

      .form_edit
        height: auto

        .formtastic
          +clearfix

          .inputs
            float: left
            margin: 0 10px 0 0

            .wide
              #course_discipline_term
                width: 400px !important

          .buttons
            padding: 10px 0 0 744px
            margin: 0 !important

            .commit
              input
                font-size: 12px

            .cancel
              font-size: 12px
              height: auto
              text-indent: 0px
              width: auto

    .form_new
      +border-bottom-left-radius
      +border-bottom-right-radius
      background: #BCD25C
      border-top: 2px solid #666
      padding: 5px 0 5px 25px

      .formtastic
        +clearfix

        .inputs
          float: left
          margin: 0 10px 0 0

        .buttons
          padding: 23px 0 0 850px

          .commit
            input
              font-size: 12px

        ol
          #course_credits_input
            margin: 0 10px 0 0

          #course_hours_input
            margin: 0 10px 0 0

          #course_discipline_term_input
            margin: 0 10px 0 0

          #course_grade_input
            margin: 0 10px 0 0

    .form_new, .form_edit
      .formtastic
        .inputs
          #course_grade_input
            margin-right: 0

          #course_grade
            width: 165px

          .tight
            #course_credits, #course_hours
              width: 140px !important

        .errorExplanation
          +border-radius
          background: #F7E7DD
          display: block
          margin: 0 0 5px 0
          padding: 10px
          width: 320px

          h2
            font-size: 12px
            margin: 0 0 10px 0 !important

          p
            font-size: 10px
            margin: 0 0 3px 0 !important

          ul
            font-size: 10px

            li
              margin: 0 0 0 10px


        .inline-errors
          position: absolute

        &.final_state_examination, &.final_qualification_project
          .inputs
            width: 915px
