@import compass/reset
@import compass/utilities
@import compass/css3
@page
  size: A4
  padding: 0
  margin: 120px 0 100px 0
  prince-shrink-to-fit: auto
  @bottom-right
    content: "Page " counter(page) " of " counter(pages)
    color: #777
    margin: 0 35px 120px 0
    font-size: 12px

body, div
  font-family: Verdana, Arial, sans-serif
  font-size: 14px
  font-style: normal
  font-weight: 100
  color: #343434
  margin: 0
  padding: 0

  .wrapper
    margin: 0 35px 0 35px
    .header
      margin: 0 0 35px 0
      float: left
      width: 100%

    .left_info, .left_sign
      float: left
    .right_info, .right_sign
      float: right
      text-align: right
    .left_info, .right_info
      width: 50%
    .left_sign, .right_sign
      border-top: 1px solid #ccc
      padding: 15px 0 0 0
      text-align: center
      width: 300px

    .content
      table
        border: none
        border-collapse: collapse
        font-style: normal
        font-weight: 100
        margin: 0 0 85px 0
        padding: 0
        width: 100%

        thead
          display: table-header-group
          tr
            th
              font-weight: bold
              padding: 10px 0px
              text-align: center
              width: 90px
            th.course_title, th.hours, th.credits, th.grades
              border-bottom: 2px solid #e6e6e6
            th.course_title
              width: 200px
            th.hours
              width: 60px
            th.credits
              width: 60px
            th.grades
              width: 100px
        tbody
          tr
            td
              border: none
              line-height: 36px
              padding: 5px 0

            td.semester
              font-weight: bold
              vertical-align: top

            td.hours
              width: 60px

            td.credits
              width: 60px

            td.grades
              width: 100px

            td.hours, td.credits, td.grades
              text-align: center

            td.total_title
              text-align: right
              font-weight: bold

            td.total_hours, td.total_credits
              text-align: center
              font-weight: bold

            td.course_title, td.hours, td.credits, td.grades
              border-bottom: 1px solid #e6e6e6

      .sign
        +clearfix

  .footer
    background-color: #2c56a1
    height: 90px

h1
  font-size: 24px
  margin: 0 0 25px 0

ul li
  list-style: none
  margin: 10px 0

.fio
  margin: 0 0 10px 0

.right
  float: right
.center
  text-align: center
.strong
  font-weight: bold
.uppercase
  text-transform: uppercase
