@import compass/reset
@import compass/utilities
@import compass/css3

body, div
  font-family: "Verdana, Arial, sans-serif"
  font-size: 7pt
  font-style: normal
  font-weight: 100
  letter-spacing: 0px
  margin: 0
  padding: 0

  p

  .eng

  .rus
    margin: 0.1cm 0 0 0

.first_side
  background: url("/images/test-0.png") no-repeat
  height: 25.7cm
  margin: 2cm 1.7cm
  padding: 0 0 0 21cm
  page-break-after: always
  width: 16.5cm

  .left_side
    float: left
    margin: 0 1cm 0 0
    width: 4cm

    .faculty_name
      font-size: 10pt
      margin: 10cm 0 0 0

      .eng
      .rus

    .diploma_number
      font-size: 10pt
      position: absolute
      top: 17.5cm

  .right_side
    +clearfix
    padding: 0 0 0 1cm

    .holder_info
      .surname
        font-size: 11pt
        float: left
        margin: 0 0.5cm 0 0
        position: absolute
        top: 3cm
        width: 5.5cm

        .eng
        .rus

      .given_name
        +clearfix
        font-size: 11pt
        position: absolute
        left: 35cm
        top: 3cm

        .eng
        .rus

      .birthdate
        float: left
        margin: 0 0.5cm 0 0
        position: absolute
        top: 4.7cm
        width: 5.5cm

        p

      .student_code
        +clearfix
        position: absolute
        top: 4.7cm
        left: 35cm

        p

    .qualification_info
      .qualification
        position: absolute
        top: 7.5cm

        .eng
        .rus

      .speciality
        position: absolute
        top: 9.3cm

        .eng
        .rus

      .award_institute
        position: absolute
        top: 11.2cm

        .eng
        .rus

      .admin_institute
        position: absolute
        top: 12.9cm

        .eng
        .rus

      .language
        position: absolute
        top: 14.8cm

        .eng
        .rus

    .qualification_details
      .level
        position: absolute
        top: 18.1cm

        .eng
        .rus

      .durations
        position: absolute
        top: 20cm

        .eng
        .rus

      .access_requirements
        position: absolute
        top: 22cm

        .eng
        .rus

.second_side
  +clearfix
  padding: 2cm 1.7cm
  page-break-before: always

  .contents_info
    .study_mode
      .eng
      .rus
    .programm_requirments
      p
  .programm_details
    table
      thead
        tr
          th
      tbody
        .title
        tr
          td
            font-family: "Verdana, Arial, sans-serif"
            font-size: 7.5pt
            font-style: normal
            font-weight: 100

    .average
      p
        .left
        .right
  .certification
    p
      .left
      .right
