<div>
  <span class='title'><%= final_state_examination.title %></span>
  <span class='eng_title'><%= final_state_examination.eng_title %></span>
  <span class='human_grade'><%= final_state_examination.human_grade %></span>
</div>

