<%= semantic_form_for @practice, :url => [@practice.context, :practices], :remote => true, :html => {:'data-type' => 'html'} do |form| %>
  <h4>Добавление новой практики</h4>
  <%= render :partial => 'practices/form', :locals => {:form => form, :cancel => false} %>
<% end %>

