<tr>
  <td><span></span><%= paper.title %><%= link_to t(:delete), diploma_paper_path(paper.diploma, paper), :confirm => t('Are you sure?'), :method => :delete, :remote => true %></td>
  <td><%= paper.eng_title %></td>
  <td><%= paper.human_grade %></td>
</tr>
