<%= semantic_form_for @paper, :url => [@paper.context, :papers], :remote => true, :html => {:'data-type' => 'html'} do |form| %>
  <h4>Добавление новой курсовой работы</h4>
  <%= render :partial => 'papers/form', :locals => {:form => form, :cancel => false} %>
<% end %>

